@import "tailwindcss";


:root {
  --background: #0F1518;
  /* --foreground: #171717; */
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 6px rgba(34, 197, 94, 0.4);
  }
  50% {
    box-shadow: 0 0 18px rgba(34, 197, 94, 0.9);
  }
  100% {
    box-shadow: 0 0 6px rgba(34, 197, 94, 0.4);
  }
}

body {
  background: var(--background);
  font-family: var(--font-ibm-plex-thai), sans-serif;
} 
